<div class="col mb-3">
  <div class="col-md-12 mb-3 mt-3">
    <img src="assets/product.png" class="rounded-circle" width="200px" height="200px" />
  </div>
  <hr>
  <div class="col-md-12">
    <div class="col-md-12 mb-3">
      <h2><i class="fas fa-info-circle blue-color"></i>&nbsp;Information de l'article</h2>
    </div>
    <div class="col-md-12">
      <form>
        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="Code article">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Designation">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="Prix unitaire HT">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Taux TVA">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <input type="text" class="form-control" placeholder="Prix unitaire TTC">
          </div>
          <div class="col">
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Selectionner une categorie</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-12 text-right">
    <button class="btn btn-danger mr-3" (click)="cancel()">
      <i class="fas fa-ban"></i>&nbsp;
      Annuler
    </button>
    <button class="btn btn-primary">
      <i class="fas fa-save"></i>&nbsp;
      Enregitrer
    </button>
  </div>

</div>
