.autocomplete {
  border: 1px solid #ced4da;
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: #ced4da;
  max-height: 300px;
  overflow-y: scroll;
  > p {
    border-bottom: 1px solid #ced4da;
    cursor: pointer;
    &:hover {
      background-color: #ced4da;
    }
  }
  > p:last-child {
    border-bottom: none;
  }
}
